# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.docusaurus/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git/
.gitignore


# next.js build output
.next

